# Docker
Dockerfile*
docker-compose*.yml
docker-compose*.yaml

# Git
.git
.gitignore

# Python
__pycache__/
*.py[cod]
.venv/
.mypy_cache/
.pytest_cache/
.ruff_cache/
.uv/

# Build
build/
dist/
wheels/
*.egg-info/

# Coverage
.coverage
.coverage.*
htmlcov/
coverage/

# Environment
env
.env
.env.*
!.env*.sample
!.env.example

# Logs
logs/
*.log
nohup.out

# Vim
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db
