# Vim
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]

# Python
.py[cod]
__pycache__/
.venv/
.mypy_cache/
.pytest_cache/
.ruff_cache/
.pytest_cache/
.pdm-build/
.pdm-python

# env
env
.env
.env.*
!.env*.sample
!.env*.example

# log
logs
*.log

# misc
.DS_Store
nohup.out
